<ion-header class="ion-no-border">
</ion-header>

<ion-content fullscreen [scrollY]="false">  

  <div class="landscape-layout">

     <div class="left-pane">

      <div *ngIf="seletedSlide"> 
        <app-slide [id]="seletedSlide.id"></app-slide>
      </div>
      
      <div *ngIf="!seletedSlide" class="ion-text-center ion-justify-content-center">
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Current Lesson</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>No Lesson Selected..</p>
          </ion-card-content>
          </ion-card>
      </div>

    </div>

    <div class="right-pane">
      <ion-card color="medium">
        <ion-card-header>
          <ion-card-title>Your Lessons</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="scrollable-list">
            <ion-list>
              <ion-item color="medium" *ngFor="let slide of slideShow?.slides" (click)="onSelectedSlide(slide)">
                <ion-label>
                  <h2>Lesson #:{{ slide.id }}</h2>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-card-content> 
      </ion-card>
    </div>

    <app-fab-landscape></app-fab-landscape>
  </div>

</ion-content>
