.scrollable-list {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 8px;
  scroll-behavior: smooth;
}

.landscape-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 16px; 
  padding: 16px;
  box-sizing: border-box;
}

// Pane Style..
.left-pane,
.right-pane {
  flex: 1 .3 80%;
  overflow-y: auto;
}

ion-content {
  --overflow: hidden;
}

@media (orientation: portrait) {
  .landscape-layout {
    flex-direction: column;
  }

  .left-pane,
  .right-pane {
    flex: 1 1 auto;
  }
}
 
app-fab-portrait{
  margin-top: 20px;
}


