<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/levels"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollY]="false">  

  <div class="landscape-layout">

     <div class="left-pane">

      <div *ngIf="seletedSlide">
        <app-slide [id]="seletedSlide.id"></app-slide>
      </div>
      
      <div *ngIf="!seletedSlide">
        <p>No Lesson Selected..</p>
      </div>

    </div>

    <div class="right-pane">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Slideshows</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="scrollable-list">
            <ion-list lines="none">
              <ion-item *ngFor="let slide of slideShow?.slides" (click)="onSelectedSlide(slide)">
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                </ion-thumbnail>
                <ion-label>
                  <h4>{{ slide.template }}</h4>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

   
    <app-fab-portrait></app-fab-portrait>
  </div>

</ion-content>
