<ion-card color="medium" *ngIf="slide" [ngClass]="slide.images?.length ? 'card-horizontal' : 'card-vertical'">
  <ion-grid>
    <ion-row *ngIf="slide?.images?.length">
      <ion-col size="5">
        <ion-img [src]="slide?.images?.[0]?.url"></ion-img>
      </ion-col>
      <ion-col size="7">
        <ion-card-header>
          <ion-card-title [ngClass]="!slide.isAnimated ? '' : 'zoom-in-text' ">
            <h1 class="ion-text-center">{{ slide.text | uppercase }}</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <audio [src]="slide.audioUrl" controls></audio> 
        </ion-card-content>
        <ion-button color="light" fill="clear" 
          *ngIf="!slide.requiresAnswer" (click)="onNextSlide()" >Next >></ion-button>
      </ion-col>
    </ion-row>

    <!-- No Image -->
    <ion-row *ngIf="!slide?.images?.length"> 
      <ion-col>
        <ion-card-header>
          <ion-card-title [ngClass]="!slide.isAnimated ? '' : 'zoom-in-text' ">
            <h1 class="ion-text-center">{{ slide.text | uppercase }}</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <audio [src]="slide.audioUrl" controls></audio>
        </ion-card-content>
        <ion-button color="light" fill="clear"
          *ngIf="!slide.requiresAnswer"  (click)="onNextSlide()">Next >></ion-button>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-card>







