<app-header title="Language Wizard"></app-header>

<ion-content class="ion-padding">

  <ion-img src="assets/images/wizard1.png" class="ion-padding img-bordered fade-in-img"></ion-img>

  <h1>Choose a Language</h1>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let lang of languages">
        <ion-chip [ngClass]="lang.code === 'en' ? 'chip-active' : 'chip-inactive'" mode="ios">
          <ion-label 
          [routerLink]="lang.code === 'en' ? ['/levels'] : null"
          (click)="lang.code !== 'en' && openModal()">{{ lang?.name }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row> 
  </ion-grid>

  <app-fab-portrait side="top" horizontal="end" vertical="bottom"></app-fab-portrait>
 
</ion-content> 
  