<ion-fab slot="fixed" horizontal="start" vertical="top">
  <ion-fab-button>
    <ion-icon name="grid"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button>
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="end">
    <ion-fab-button>
      <ion-icon name="globe" (click)="navBack()" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="arrow-back-circle" (click)="navToLevels()" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="code-working"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
