<app-header title="Your Steps"></app-header>

<ion-content fullscreen="true">

  <ion-grid fixed>
    <ion-row > 
      <ion-col size="12"  size-sm="8" offset-sm="2">

        <ion-img src="assets/images/wizard1.png" class="ion-padding img-bordered fade-in-img"></ion-img>

        <ion-list lines="none">
          <ion-item *ngFor="let step of level?.steps; let i = index"> 
            <ion-card color="medium" [ngClass]="step.id === 1 ? 'active' : 'inactive'">
              <ion-card-header [routerLink]="['/slideshows', step.id]">
                <ion-card-subtitle>
                  {{ step.title }}
                </ion-card-subtitle>
                <ion-card-title></ion-card-title> 
              </ion-card-header> 
            </ion-card>
            <ion-avatar slot="start">
              <ion-icon *ngIf="i === 1" name="logo-octocat" size="large" class="flip-icon"></ion-icon>
            </ion-avatar>
          </ion-item>
        </ion-list>  
      </ion-col>
    </ion-row>
    <app-fab-portrait class="custom-margin" side="top" horizontal="end" vertical="bottom"></app-fab-portrait>
  </ion-grid>
  
</ion-content> 
   