<ion-fab slot="fixed" [horizontal]="horizontal" [vertical]="vertical">
  <ion-fab-button>
    <ion-icon name="grid"></ion-icon>
  </ion-fab-button>
  <ion-fab-list [side]="side">
    <ion-fab-button>
      <ion-icon name="globe" (click)="navBack()" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="speedometer-outline" size="large" (click)="navToLevels()"></ion-icon>
    </ion-fab-button>
     <ion-fab-button>
      <ion-icon name="footsteps" (click)="navToSteps()" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon  name="code-working" (click)="openModal()" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="qr-code" size="large" (click)="showQrMessage()"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>  
</ion-fab> 
